@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'NyalaRegular';
    src: url('nyala.eot');
    src: url('nyala.eot') format('embedded-opentype'),
         url('nyala.woff') format('woff'),
         url('nyala.ttf') format('truetype'),
         url('nyala.svg#NyalaRegular') format('svg');
}*/

@font-face {
  font-family: 'NyalaRegular';
  src: url('nyala.eot?') format('eot'), url('nyala.woff') format('woff'), url('nyala.ttf') format('truetype');
}
