@charset "utf-8";

body{
	margin: 0;
	padding: 0;
	line-height: normal;
}
.wrapper{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}
header.common_page_header{
	background-color: #CCCCCC;
}
.logo{
	float: left;
}
.generic_nav{
	float: right;
}
.company_name{
	background-color: #009933;
	border-top: #666;
	clear: both;
}
.main_nav{
	
}
.main_content{
	background-color: #EEEEEE;
}
footer.common_page_footer{
	background-color: #081F2D;
}

/* Pension */
.a4_landscape{
	
	min-width: 27cm;
    max-height:20cm;
   
    border: 1px #D3D3D3 solid;
    border-radius: 1px;
    background: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 9.5pt;
    margin:0.25in 0.25in 0.25in 0.25in;
	
	page-break-after: always;
	
}
.form_logo{
	float: left;
	width: 10%;
	text-align: center;
}
.govt_office{
	text-align: center;
	font-size: 26px;
}
.form_title{
	text-align: center;
	font-size: 24px;
}
.form_logo_opposite{
	float: left;
	width: 10%;
}
.form_body{
	float: left;
}
.table_title{
	width: 100%;
	font-size: 17px;
	text-align: center;
	padding-top: 4px;
	margin-top:5px;
	
	
}
table.data, table.sub_data{
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
	font-size:9.5pt;
}
table.data tr th{
	background-color: #CCC;
	height: 18px;
}
table.data tr td{
	padding: 1px;
}
div.label{
	float: left;
	padding-right: 40px;
}
td.subtle_box{
	font-size: 14px;
	border: 0px solid #333;
	height: 18px;
	width: 100%;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
}
td.underlined_box{
	font-size: 14px;
	border: 0px solid #333;
	border-bottom: 1px solid #666;
	height: 18px;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
}
td.underlined_box_dotted{
	font-size: 14px;
	border: 0px solid #333;
	border-bottom: 1px dotted #666;
	height: 13px;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
}
span.print{
	font-size: 10px;
	border: 0px solid #333;
	/*border-bottom: 1px solid #666;*/
	height: 10px;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
	display: none;
}
select.screen{
	border: none;
}
.header2
{
    font-weight:bold;
    font-size:10pt;
    }
td.table_box_left{
	font-size: 9.5pt;
	border: 1px solid black ;
	
	height: 15px;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
}
td.table_box_right{
	font-size: 9.5pt;
	border: 1px solid black;
	
	height: 15px;
	text-align: right;
	margin-top: 1px;
	margin-bottom: 1px;
}
td.date{
	text-align: center;
	padding: 0px;
}
.form_footer{
	margin-top: 10px;
}
table.signature tr td span{
	border-top: 1px solid #333;
	padding-left: 30px;
	padding-right: 30px;
}
.stamp{
	padding: 8px;
	border: 1px dashed #999;
	text-align: center;
}
.underlined{
	display: inline;
	border-bottom: 1px solid #333;
	padding-left: 15px;
	padding-right: 15px;
}
.table2, .table3{
	line-height: 12px;
}
.table4{
	line-height: 12px;
}
.table1{
	line-height: 12px;
	width: 100%;
	max-height:90%;
	border-width: 1px;
	border-collapse: collapse;
	font-size:10pt;
}
table.table1 tr td{
	padding: 1px;
}
#page_separator{
	display: none;
}

.repeatable-data-row td:first-child span{
	color: #FFF;
}
.year{
	font-size: 16px;
}
.right_spaced{
	margin-right: 200px;
}
 @page {
        size: A4 landscape;
        
        margin: 3px 3px 3px 3px;
    }
    @media print {
        .page {
            margin: .25in;
            border: initial;
            border-radius: initial;
            width: initial;
            max-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }