 #bigprint
            {
                width:1300px;
                font-size:9px;
            }
            #tb1 
            {
                font-size:9pt;
                margin-left:55px;
                width:1300px;
                border:1px solid black;
               }
     #tb1 .fxname
            {
                 border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
                width:310px;
               
            }                      
        #tb1 .fname
            {
                 border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
                width:310px;
               
            }                   
       #tb1 td
            {
         
             border-bottom-style:dotted;
             border-right-style:dotted;
             border-width:1px;
             border-color:black;
                font-size:9pt;
                
            }  
         
          #tb1  .fitx
            {
               
                border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
                width:50px;
               
            }
           #tb1 .dw
            {
               border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
              
                width:30px;
            }
           #tb1 .dedct
            {
                
                 border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
            }
           #tb1 .signpart
            {
               border-top: 1px solid black;
                 border-bottom:1px solid black;
                 border-right:1px solid black;
                width:180px;
            }        
           #tb1 .cooo
            {
                border-top-style:solid;
                 border-right-style:dotted;
                
               
                
                border-bottom-style:double;
                border-width: 1px 2px 4px 0px;
                border-color:black;
                font-weight:bold;
            }
            #tb1 .dedctx
            {
                 border-bottom:1px solid black;
                 border-right:1px solid black;
            }
          #tb1 .sss1
          {
            border:none none none none;
            
          }
          #tbl1 .sss
          {
            border:none none none none;
          }
          #tb1 .l1
          {
          width:150px;
          text-align:center;
          border-style:none none;
          }
          #tb1 .l2
          {
          width:120px;
          text-align:center;
          border-style:none none;
          }
          #tb1 .l3
          {
          width:120px;
          text-align:center;
          border-style:none none;
          }
          #tb1 .l4
          {
          width:120px;
          text-align:center;
          border-style:none none;
          }
          #tb1 .l5
          {
          width:120px;
          text-align:center;
          border-style:none none;
          }